# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
firebase-debug.log
firestore-debug.log
ui-debug.log

# local test files
pdf-outputs/
pdf-template-examples/
trigger-config.yaml
linkedin-bio.txt

# example templates and outputs
doc-example-template/
pdf-example-templates/
doc-outputs/

# local test/debug scripts
compare-outputs.js
inspect-docx.js
inspect-docx2.js
test-detection.js
test-local-template.js

# social media posts
/posts/

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
